@charset "UTF-8";
/* Paramètres visuels des sections de la Homepage > Page Index */
/* Paramètres visuels des cartes de restaurants > Page 1/2/3/4 */
/* Paramètres visuels du composant "Bouton" */
/* Paramètres visuels du composant 'Coeur' du type like/dislike */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  background-color: #F6F6F6;
}

h1 {
  font-family: "Shrikhand", cursif;
  font-weight: 700;
  font-size: 1.8em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}

/* Bouton "Explorer nos restaurants" */
.exploration button {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: -webkit-linear-gradient(-70deg, #FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  color: #F6F6F6;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  margin: 8% 0 10% 0;
  padding: 15px 22px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}

/* Icon coeur "On click" like/dislike */
.restaurant-infos input {
  display: none;
  visibility: hidden;
}

.restaurant-infos .heart-clik i {
  /* Like */
  cursor: pointer;
  padding-top: 15px;
  font-size: 1.2em;
  -webkit-text-stroke: 1px black;
  color: transparent;
  -webkit-background-clip: text;
}

.restaurant-infos input:checked ~ .heart-clik i {
  /* Dislike */
  cursor: pointer;
  padding-top: 15px;
  font-size: 1.2em;
  -webkit-text-stroke: 1px #F6F6F6;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.35em;
}

/* Bouton "Commander" */
.cardlist__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardlist__btn button {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: -webkit-linear-gradient(-70deg, #FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  color: #F6F6F6;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  margin: 8% 0 10% 0;
  padding: 15px 22px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  margin: 8% 0 0 0;
}

.main-nav, .main-nav-card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 20px 20px;
}

.main-nav-card .left {
  font-size: 1.3em;
}

#logo_ohmyfood {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader {
  z-index: 1;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;
  color: #9356DC;
  font-size: 1.5em;
  -webkit-animation: loading-spinner 3000ms 200ms both;
          animation: loading-spinner 3000ms 200ms both;
}

.preloader p {
  font-size: 0.8em;
  text-align: center;
  color: #9356DC;
  font-weight: 400;
}

.preloader .loader {
  -webkit-animation: spinner 600ms linear infinite;
          animation: spinner 600ms linear infinite;
}

@-webkit-keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  98% {
    opacity: 0.4;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loading-spinner {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  98% {
    opacity: 0.4;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  background-color: #353535;
  padding: 5%;
  margin-top: 30px;
}

footer .footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-items {
  margin-top: 10px;
}

.footer-items .iconinfo {
  font-size: 0.8em;
  padding-right: 10px;
  color: #ffffff;
}

.footer-items a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 1920px) and (min-width: 600px) {
  footer {
    padding: 20px 40px;
  }
  .footer-list {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.exploration, .functioning, .restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exploration {
  background-color: #F6F6F6;
}

.exploration__place {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEAEA;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.8);
}

.exploration__h2 {
  margin-top: 10%;
  text-align: center;
  padding: 0 10%;
}

.exploration__h3 {
  text-align: center;
  margin: 0;
}

.exploration__place input {
  border: none;
  padding: 10px 0px 8px 10px;
  background-color: transparent;
}

.exploration__place input[type="text"] {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.exploration__place input #ville::-webkit-input-placeholder {
  color: black;
}

.exploration__place input #ville:-ms-input-placeholder {
  color: black;
}

.exploration__place input #ville::-ms-input-placeholder {
  color: black;
}

.exploration__place input #ville::placeholder {
  color: black;
}

.functioning {
  background-color: white;
  padding: 25px 0 60px 0;
}

.functioning__h2 {
  width: 90%;
}

.functioning__list {
  width: 88%;
}

.functioning__list__step1, .functioning__list__step2, .functioning__list__step3 {
  cursor: pointer;
  margin: 14px 0;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}

.functioning__list .icon {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
}

.functioning__list .step__step {
  margin-left: 25px;
}

.functioning__list__step1 .step__number,
.functioning__list__step2 .step__number,
.functioning__list__step3 .step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #9356DC;
  border-radius: 25px;
  margin-left: -14px;
}

.functioning__list__step1 .step__number p,
.functioning__list__step2 .step__number p,
.functioning__list__step3 .step__number p {
  margin: 2px 0 0 8px;
}

.functioning__list__step1:hover,
.functioning__list__step2:hover,
.functioning__list__step3:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

.functioning__list__step1:hover .icon,
.functioning__list__step2:hover .icon,
.functioning__list__step3:hover .icon {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  margin-top: 30px;
}

.restaurants__h2 {
  width: 90%;
}

.restaurants__cards {
  width: 90%;
}

.restaurants__cards__palette-gout, .restaurants__cards__note-enchantee, .restaurants__cards__la-francaise, .restaurants__cards__delice-sens {
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  margin: 20px 0;
}

.restaurants__cards__palette-gout .restaurant-image, .restaurants__cards__note-enchantee .restaurant-image, .restaurants__cards__la-francaise .restaurant-image, .restaurants__cards__delice-sens .restaurant-image {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 8% 0 5%;
  border-radius: 0 0 15px 15px;
}

.restaurant-infos__title h4 {
  margin: 10px 0 5px 0;
}

.restaurant-infos__title p {
  margin: 0 0 15px 0;
}

.restaurant-new {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  width: 100px;
  background-color: #99E2D0;
  color: #139273;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}

.restaurant-new p {
  margin: 0;
  font-weight: 500;
  text-align: center;
  padding: 7px 0;
}

@media (max-width: 1920px) and (min-width: 600px) {
  .exploration__h2 {
    margin-top: 40px;
  }
  .exploration button {
    margin: 30px 0 40px 0;
  }
  .restaurants__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants__cards__palette-gout, .restaurants__cards__note-enchantee, .restaurants__cards__la-francaise, .restaurants__cards__delice-sens {
    width: 48%;
  }
}

@media (max-width: 1920px) and (min-width: 1060px) {
  .exploration__h2 {
    font-size: 2.3em;
  }
  .exploration__h3 {
    font-size: 1.8em;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .functioning__list__step1, .functioning__list__step2, .functioning__list__step3 {
    width: 80%;
    margin-right: 5%;
  }
}

@media (max-width: 1920px) and (min-width: 1400px) {
  .restaurants__cards__palette-gout, .restaurants__cards__note-enchantee, .restaurants__cards__la-francaise, .restaurants__cards__delice-sens {
    width: 23%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .restaurants__cards__palette-gout:hover, .restaurants__cards__note-enchantee:hover, .restaurants__cards__la-francaise:hover, .restaurants__cards__delice-sens:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
  }
}

.photo {
  height: 250px;
}

.cardlist {
  border-radius: 25px 25px 0 0;
  background-color: #F6F6F6;
  padding: 10% 3%;
  position: relative;
  margin-top: -53px;
}

.cardlist__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardlist__title__h1 {
  margin: 0;
  padding-left: 3%;
  font-size: 1.8em;
}

.cardlist__title .heart {
  /* Like */
  cursor: pointer;
  padding-top: 15px;
  font-size: 1.2em;
  -webkit-text-stroke: 1px black;
  color: transparent;
  -webkit-background-clip: text;
  padding: 0 5% 0 0;
  font-size: 1.4em;
}

.cardlist__titlecard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardlist__titlecard__title {
  margin: 40px 0 0 0;
  padding-left: 3%;
  font-weight: 300;
}

.cardlist__titlecard__line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 5px 0 0 3%;
}

.cardlist__items {
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}

.cardlist__items__hori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 4%;
}

.cardlist__items__hori h4 {
  margin: 0;
}

.cardlist__items__hori__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardlist__items__hori__info p, .cardlist__items__hori__info h5 {
  margin: 5px 0 0 0;
}

p {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.cardlist__items:hover > .cardlist__items__vert {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-right: 0;
}

.cardlist__items:hover > .cardlist__items__vert .check {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cardlist__items:hover p {
  width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.cardlist__items__vert {
  margin-right: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  color: white;
  width: 25%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

.cardlist__items__vert .check {
  font-size: 1.3em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: all 1000ms ease-in;
  transition: all 1000ms ease-in;
}

.cardlist__items {
  -webkit-animation: appear-menu 800ms 300ms backwards ease-in-out;
          animation: appear-menu 800ms 300ms backwards ease-in-out;
}

.cardlist__items--1 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.cardlist__items--2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.cardlist__items--3 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

@-webkit-keyframes appear-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1920px) and (min-width: 1000px) {
  .photo {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photo .restaurant-image {
    border-radius: 15px;
    width: 800px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cardlist {
    margin-top: 150px;
    padding: 5% 3% 0 3%;
    position: static;
  }
  .cardlist__title {
    width: 35%;
    padding-left: 20px;
  }
  .cardlist__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cardlist__section__entree, .cardlist__section__plat, .cardlist__section__dessert {
    margin-left: 20px;
    width: 100%;
  }
  .cardlist__btn button {
    margin: 40px 0;
  }
}

@media (max-width: 1000px) and (min-width: 500px) {
  .photo {
    height: 300px;
  }
  .cardlist {
    padding: 5% 10% 2% 10%;
    margin-top: 0px;
  }
  .cardlist__items__vert .check {
    font-size: 1.7em;
  }
  .cardlist__items:hover p {
    width: 400px;
  }
}
/*# sourceMappingURL=main.css.map */