// SECTION 2 - Carte du restaurant
.cardlist {
    border-radius: 25px 25px 0 0;
    background-color: $graybackground;
    padding: 10% 3%;
    position: relative;
    margin-top: -53px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            margin: 0;
            padding-left: 3%;
        }
        .heart {
            @include iconheart;
            padding: 0 5% 0 0;
            font-size: 1.4em;
        }
    }
    &__titlecard {
        display: flex;
        flex-direction: column;
        &__title {
            margin: 40px 0 0 0;
            padding-left: 3%;
            font-weight: 300; 
        }
        &__line {
            width: 40px;
            height: 3px ;
            background-color: $turquoise;
            margin: 5px 0 0 3%;
        }
    }
}

.cardlist__items {
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    @include infoscards;
}

.cardlist__items__hori {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4%;
    h4 {
        margin: 0;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        p, h5 {
            margin: 5px 0 0 0;
        }
    }
}

p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: 1000ms;
}

// Animation: au survol, le Check vert apparait et disparait
.cardlist__items:hover  {
    & > .cardlist__items__vert {
        transform: translateX(0);
        margin-right: 0;
        .check {
            transform: rotate(0deg);
        }
    }
    p {
        width: 220px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        transition: 1000ms;
    }
}

.cardlist__items__vert {
    margin-right: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    background-color: $turquoise;
    color: white;
    width: 25%; 

    transform-origin: 100% 0;
    transform: translateX(100px);
    transition: all 1000ms ease-in-out;
    .check {
        font-size: 1.3em;
        height: fit-content;
        transform: rotate(-360deg);
        transition: all 1000ms ease-in;
    }
}

$num-cards: 3;
.cardlist__items {
    animation: appear-menu 800ms 300ms backwards ease-in-out;
}
.cardlist__items--1 {
    animation-delay: 400ms;
}
.cardlist__items--2 {
    animation-delay: 600ms;
}
.cardlist__items--3 {
    animation-delay: 800ms;
}

@keyframes appear-menu {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cardlist__btn {
    display: flex;
    justify-content: center;
    button {
        @include button;
        margin: 8% 0 0 0;
    }
}

// ÉLABORATION DES MEDIA QUERIES
@media (max-width:1920px) and (min-width:1000px) {
    .photo { // à revoir
        border: 1px solid green;
        height: 50%;
    }
    .cardlist {
        padding: 5% 3% 0 3%;
        margin-top: -400px;
        &__title {
            width: 300px;
            padding-left: 20px;
        }
    }
    .cardlist__section {
        display: flex;
        justify-content: space-between;
        &__entree, &__plat, &__dessert {
            margin-left: 20px;
            width: 100%;
        }
    }
    .cardlist__btn {
        button {
            margin: 40px 0;
        }
    }
}

@media (max-width:1000px) and (min-width:500px) {
    .cardlist {
        padding: 5% 10% 2% 10%;
        margin-top: -100px;
    }
    .cardlist__items__vert {
        .check {
            font-size: 1.7em;
        }
    }
}