//  Typographies Général
h1 {
    font-family : $policeShrikhand ;
    font-weight: 700;
    font-size: 1.8em;
}
h2 {
    font-family : $police ;
    font-weight: 700;
    font-size: 1.8em;
}
h3 {
    font-family : $police ;
    font-weight: 300;
    font-size: 1.2em;
}
h4 {
    font-family : $police ;
    font-weight: 500; 
    font-size: 1.1em;
}
h5 {
    font-family : $police ;
    font-weight: 700; 
    font-size: 0.9em;
}
p {
    font-family : $police ;
    font-weight: 300;
    font-size: 0.9em;
}